{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": "standard",
  "rules": {
    "eqeqeq": "off",
    "curly": "error",
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "indent": ["error", 4],
    "space-before-function-paren": "off",
    "eol-last":"off",
    "one-var": "off",
    "no-new-func": "off",
    "camelcase": "off"
  }
}