html {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100px; }

a, button, input {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  outline: none; }

body {
  margin: 0;
  line-height: 1;
  font-size: 14px;
  color: #333333;
  background-color: white;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

svg:not(:root) {
  overflow: hidden; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #333; }

a:active {
  outline: 0;
  color: #006699; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

img {
  border: 0;
  vertical-align: middle; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal;
  border-radius: 0; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: border-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  resize: vertical; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

html, button, input, select, textarea {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none outside none; }

h1, h2, h3 {
  line-height: 2;
  font-weight: normal; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #cccccc; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #cccccc; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #cccccc; }

* {
  box-sizing: border-box; }

cite {
  font-style: normal; }

@font-face {
  font-family: 'iconfont';
  src: url("../../images/fonts/icomoon.eot?5fwmh5");
  src: url("../../images/fonts/icomoon.eot?5fwmh5#iefix") format("embedded-opentype"), url("../../images/fonts/icomoon.ttf?5fwmh5") format("truetype"), url("../../images/fonts/icomoon.woff?5fwmh5") format("woff"), url("../../images/fonts/icomoon.svg?5fwmh5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="iconfont-"],
[class*="iconfont-"] {
  font-family: "iconfont" !important;
  speak: none;
  color: #999;
  font-size: .32rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="iconfont-"]:before,
[class*="iconfont-"]:before {
  display: block; }

.iconfont-1:before {
  content: '\eaa4'; }

.iconfont-2:before {
  content: '\eaea'; }

.iconfont-3:before {
  content: '\eae9'; }

.iconfont-4:before {
  content: '\eadc'; }

.iconfont-5:before {
  content: '\ea80';
  color: #ff5c5c; }

.iconfont-6:before {
  content: '\eae2'; }

.iconfont-7:before {
  content: '\eae1'; }

.iconfont-8:before {
  content: '\eade'; }

.iconfont-9:before {
  content: '\eadb'; }

.iconfont-10:before {
  content: '\ea94'; }

.iconfont-11:before {
  content: '\eada'; }

.iconfont-12:before {
  content: "\ead0"; }

.iconfont-15:before {
  content: '\ea83'; }

.iconfont-16:before {
  content: '\ea84'; }

.iconfont-17:before {
  content: '\eae8'; }

.iconfont-18:before {
  content: '\eae7'; }

.iconfont-19:before {
  content: '\eaec'; }

.iconfont-20:before {
  content: '\eadd';
  color: #EC5B5C; }

.iconfont-21:before {
  content: '\ea93';
  color: #FFCE4D; }

.iconfont-22:before {
  content: '\eaed';
  color: #79B7FF; }

.iconfont-23:before {
  content: '\eaeb';
  color: #FF9F05; }

.iconfont-24:before {
  content: '\eaee';
  color: #FF5A83; }

.iconfont-25:before {
  content: '\eadf'; }

.iconfont-26:before {
  content: '\eae4'; }

.iconfont-27:before {
  content: '\eae3'; }

.iconfont-28:before {
  content: '\eae0'; }

.iconfont-29:before {
  content: '\eae5'; }

.iconfont-30:before {
  content: '\eae6'; }

.iconfont-31:before {
  content: '\eaef'; }

.opg .m-dialog {
  width: 5.4rem;
  overflow: hidden;
  text-align: center;
  background-color: #F9F9F9;
  border-radius: .04rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 200; }
  .opg .m-dialog .dialog-tit {
    font-size: .32rem;
    padding-top: .3rem;
    word-wrap: break-word;
    word-break: break-all; }
  .opg .m-dialog .dialog-txt {
    font-size: .28rem;
    line-height: 1.6;
    padding: .2rem; }
  .opg .m-dialog .dialog-ipt {
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    font-size: 0.28rem;
    padding: 0 0.1rem;
    width: 100%;
    height: 0.8rem;
    display: block;
    outline: none;
    text-align: center; }
  .opg .m-dialog .dialog-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .opg .m-dialog .dialog-btn a {
      color: #333;
      font-size: .32rem;
      line-height: .86rem;
      text-align: center;
      display: block;
      -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
      position: relative; }
      .opg .m-dialog .dialog-btn a:first-child {
        border-right: 1px solid #999; }
      .opg .m-dialog .dialog-btn a.bor-right {
        border-right: none; }
    .opg .m-dialog .dialog-btn:after {
      height: 0;
      border-top: 1px solid #999;
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0; }
